body {
    background-color: lightblue;
}

h1 {
    font-family: Arial;
    color: blue;
    text-align: center;
    font-size: 50px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    margin: 2px;
}

#Bot_Datos , #Bot_Contacto , #Bot_Estudios , #Bot_Laboral {
    font-family: verdana;
    font-size: 15px;
}

#Datos {
    font-family: candara;
    color: lightgoldenrodyellow;
    text-align: center;
}

#Acerca {
    font-family: calibri;
    color:aquamarine;
    text-align: center;
    font-size: 12px;
}

.Ocultar {
    display: "none";
}

.show {
    display: "block";
}